<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About ADEWALE  EMMANUEL ADEBAYO </title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #32DDFF; color: #333;">
    <div style="max-width: 800px; margin: 50px auto; padding: 20px; background-color: #fff0f5; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 style="color: #030303; text-align: center;">ADEWALE  EMMANUEL ADEBAYO </h1>
        <p>My name is ADEWALE  EMMANUEL ADEBAYO . I am a software engineer specializing in React and Node.js.</p>
        <p>In my free time, I enjoy coding, creating new things, exploring new technologies, and sharing my knowledge with others.</p>
    </div>
</body>
</html>